<div id="produits">
        <div class="produit">
            <div class="produit-img">
                <img ng-src="img/produits/doux.jpg" alt="" />
            </div>
            <div class="produit-description">
                <h2>{{produit.titre}}</h2>
               {{produit.description}} <br/>
               <a href="#">Voir plus</a>
               <div class="produit-action">Prix :<span class="produit-prix">3.54€</span>
                    <button type="button" class="btn btn-primary" >Ajouter au panier</button>
                </div>
            </div>
        </div><!-- Fin div.produit -->
    </div><!-- Fin div#produits -->